<div class="dlg">
	<div class="title"><img alt="" src="img/pm24x24.png" />&nbsp;Score Results</div>
	<div class="body">
		<br />
		<table class="'body table">
			<thead>
				<tr>
					<th ng-repeat="fname in rspHeader">{{fname}}</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="row in rspData">
					<td ng-repeat="fval in row track by $index">{{fval}}</td>
				</tr>
			</tbody>
		</table>
		<button type="button" class="btn.lg" ng-click="cancel()"><i class="glyphicon glyphicon-ok"></i>&nbsp;Close&nbsp;</button>&nbsp;
	</div>
</div>
