
	.hdr {
		float: left;
		width: 100%;
	}

	.hdr .corp {
		text-indent: 0.5em;
		float: left;
		width: 100%;
	}

	.nav {
		float: left;
		width: 100%;
	}

	.tab {
		margin-left: 0.5em;
	}

	.tab .title {
		text-indent: 0.5em;
	}

	.thdr {
		text-indent: 0.5em;
	}
