
* {
	margin: 0;
	padding: 0;
}

/*
	Foundation styles
*/
body {
	background: #FFFFFF; /* white */
	color: #000; /* black */
	font: normal 100% Helvetica Neue, Helvetica, Arial, sans-serif;
	text-align: left; 
	margin-left:2em;
	padding:2em;
	background-color: #66CCCC;
}

.section {
	margin-left:2em;
	padding:2em;
	background-color: #66CCCC;
}

a {
	font-size: 1em;
	font-weight: lighter;
	color: #00648D; /* blue 5 */
	text-decoration: underline;
}

a:hover {
	color: #007670; /* teal 2 */
}

ul {
	list-style-type:disc;
	padding; 0px;
	margin-left:3em;
}

 ul li {
	padding-left: 1em;
}

p {
	margin-bottom: 1em;
}

/*
	Type
*/
h1 {
	font-size: 1.5em;
	font-weight: normal;
	color: #231F20; /* black */
}

h2 {
	font-size: 1.25em;
	font-weight: lighter;
	color: #6F7076; /* cool gray 8 */
}

h3 {
	font-size: 0.87em;
	font-weight: lighter;
	color: #4C4D53; /* cool gray 9 */
}

table { 
  width: 100%; 
  border-collapse: collapse; 
  font-size: 1em;
}

tr:nth-of-type(odd) { 
  background: #eee; 
}

th { 
  background-color: #4C4D53; /* cool gray 9 */
  color: white; 
  font-weight: bold; 
}

td, th { 
  padding: 6px; 
  border: 1px solid #ccc; 
  text-align: left; 
}

.right {
	float:right;
}

.hdr {
	background-color: #003469; /* blue 6 */
	min-height: 1.75em;
	font-size: 1.5em;
	font-weight: lighter;
	color: #FFFFFF; /* white */
}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.title {
	min-height: 1.5em;
}
.txtBox {
	border: 1px solid;
}

.dlg {
	background-color: #FFFFFF; /* white */
	margin: 0.5em;
}

.dlg .title {
	font-size: 1em;
	font-weight: bold;
	background-color: #E3E4E6; /* cool gray 1 */
	color: #4C4D53; /* cool gray 9 */
}

.dlg .body {
	font-size: 0.87em;
	font-weight: normal;
	margin-left: 0.5em;
	padding: 5px;
}

.dlg .body .section {
	padding: 1em; 
	margin-left: 4em;
}

.dlg .alert {
	background-color: #E3E4E6; /* cool gray 1 */
	border: 1px solid;
}

.thdr {
	background-color: #E3E4E6; /* cool gray 1 */
	min-height: 1.87em;
	font-size: 1em;
	font-weight: lighter;
	color: #4C4D53; /* cool gray 9 */
}

.thdr .left {
	float:left;
}

.thdr .right {
	margin-right: 4px;
	float:right;
}
